# Server Port (untuk deployment lokal/server)
PORT=3000

# URL Web App Google Apps Script sebagai backend database Google Sheets
APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbxVVl2X7Xjt3SE8G1-xgpofjKCYEfG7eMuRWFlKAP_cKz7fN7AffUy6_LVdscT1DwcdYw/exec
